<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tarx.heartbeat</string>

	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/node</string>
		<string>/Users/master/Desktop/tarx-code-oss/extensions/tarx-cli/dist/heartbeat.js</string>
	</array>

	<key>StartInterval</key>
	<integer>300</integer>

	<key>RunAtLoad</key>
	<true/>

	<key>StandardErrorPath</key>
	<string>/Users/master/.tarx/heartbeat-error.log</string>

	<key>StandardOutPath</key>
	<string>/dev/null</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
		<key>HOME</key>
		<string>/Users/master</string>
	</dict>

	<key>Nice</key>
	<integer>10</integer>

	<key>ProcessType</key>
	<string>Background</string>

	<key>LowPriorityBackgroundIO</key>
	<true/>
</dict>
</plist>
